[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
z2n-periodogram = {editable = true,path = "."}
dask = {extras = ["array"],version = "*"}
mkautodoc = "*"
click = "*"
click-shell = "*"
matplotlib = "*"
astropy = "*"
numpy = "*"
numba = "*"
tqdm = "*"
h5py = "*"

[requires]
python_version = "3.7"
