[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
z2n-periodogram = {editable = true,path = "."}
mkautodoc = "*"
click = "*"
click-shell = "*"
matplotlib = "*"
astropy = "*"
pandas = "*"
numpy = "*"
numba = "*"
tqdm = "*"
dask = "*"

[requires]
python_version = "3.7"
